<div class="container">

  <form *ngIf="song" #songForm="ngForm">
    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="Song name"
        type="text"
        name="name"
        [(ngModel)]="song.name"
        #nameField
        required
        autocomplete="off"
        minlength="2">
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Date added</mat-label>
      <input
        matInput
        placeholder="Date"
        name="dateAdded"
        [(ngModel)]="song.dateAdded"
        #dateAddedField
        required
        autocomplete="off"
        minlength="3"
        [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>event</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Song duration</mat-label>
      <input
        matInput
        placeholder="Duration as seconds count (ex. 90 (for 1:30), 250 (for 4:10)"
        type="text"
        name="duration"
        [(ngModel)]="song.duration"
        #durationField
        required
        autocomplete="off">
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Beats per minute (BPM) - use slider</mat-label>
      <input
        matInput
        placeholder="BPM for the current sog"
        type="text"
        name="bpm"
        [(ngModel)]="song.bpm"
        #bpmField
        required
        autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Song's artist</mat-label>
      <mat-select
        required
        #artistSelect
        name="artistID"
        [(ngModel)]="song.artistID">
        <mat-option
          *ngFor="let artist of artists"
          [value]="artist._id">
          {{artist.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Genre(s)</mat-label>
      <mat-select
        (selectionChange)="updateGenreSelection($event)"
        #genreField
        multiple>
        <mat-option *ngFor="let genre of genres" [value]="genre">{{genre}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-container">
      <button
        [disabled]="songForm.invalid"
        (click)="updateSong()"
        mat-raised-button
        class="mat-accent"
      >Update
      </button>
    </div>

  </form>
</div>
