<ul>
  <li><a routerLink="artists" routerLinkActive="route-is-active">Artists</a></li>
  <li><a routerLink="songs" routerLinkActive="route-is-active">Songs</a></li>
  <li><a routerLink="settings" routerLinkActive="route-is-active">Settings</a></li>
  <li>
    <mat-slide-toggle
      color="primary"
      [(ngModel)]="isDarkMode"
      aria-labelledby="darkModeToggleLabel"
      (ngModelChange)="onDarkModeToggle($event)"></mat-slide-toggle>
    <mat-icon id="darkModeToggleLabel">nights_stay</mat-icon>
  </li>
  <li>
    <mat-slide-toggle
      color="accent"
      [(ngModel)]="isAdmin"
      aria-labelledby="adminToggleLabel"
      (ngModelChange)="onAdminToggle($event)"
    ></mat-slide-toggle>
    <mat-icon id="adminToggleLabel">admin_panel_settings</mat-icon>
  </li>
</ul>

<router-outlet></router-outlet>
