<div class="song-card">
  <h3>{{ song.name }}</h3>
  <p>Duration: {{ song.duration | songDurationFormat }}</p>
  <span style="font-weight: bold">
    <span *ngFor="let g of song.genre; index as i">
        {{g}} {{i < song.genre.length - 1 ? '|' : ''}}
    </span>
  </span>
  <p>Artist ref: {{ song.artistID }}</p>
  <p>Added: {{ song.dateAdded | date }}</p>

  <div class="action-btn-container">
    <button
      mat-fab class="edit-btn"
      (click)="handleGoToSong(song._id)"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <button
      mat-fab class="remove-btn"
      (click)="handleRemoveSong(song)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
