<div class="container">

  <form *ngIf="artist" #artistForm="ngForm">
    <mat-form-field class="form-field">
      <mat-label>Artist name</mat-label>
      <input
        matInput
        placeholder="Name"
        type="text"
        name="name"
        [(ngModel)]="artist.name"
        #nameField
        required
        autocomplete="off"
        minlength="3">
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Birth date</mat-label>
      <input
        matInput
        placeholder="Date"
        name="birthDate"
        [(ngModel)]="artist.birthDate"
        #birthDateField
        required
        autocomplete="off"
        minlength="3"
        [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field class="form-field">
      <mat-label>Origin country</mat-label>
      <input
        matInput
        placeholder="Origin country"
        type="text"
        name="originCountry"
        [(ngModel)]="artist.originCountry"
        #originCountryField
        required
        autocomplete="off"
        minlength="3">
    </mat-form-field>

    <div class="button-container">
      <button
        (click)="updateArtist()"
        [disabled]="artistForm.invalid"
        mat-raised-button
        class="mat-accent"
      >Update
      </button>
    </div>
    <!--    &lt;!&ndash;  <select *ngIf="user.artist" [(ngModel)]="user.artist">&ndash;&gt;-->
    <!--    &lt;!&ndash;    <option *ngFor="let artist of artists " [value]="artst.id">{{artist.name}}</option>&ndash;&gt;-->
    <!--    &lt;!&ndash;  </select>&ndash;&gt;-->

    <!--    <button (click)="updateArtist()" [disabled]="artistForm.invalid" >Submit</button>-->

  </form>
</div>
